<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="adw.theme.black.frost"
      android:versionCode="1"
      android:versionName="1.0"
      android:installLocation="internalOnly">
    <application android:label="@string/theme_title" android:icon="@drawable/theme_icon">
        <activity android:name=".main"
                  android:label="@string/theme_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="org.adw.launcher.THEMES" />
                <category android:name="android.intent.category.DEFAULT" />                
            </intent-filter>
            <intent-filter>
                <action android:name="org.adw.launcher.icons.ACTION_PICK_ICON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>              
        </activity>
        <activity
            android:name="adw.theme.black.frost.docks"
            android:label="@string/theme_title"
            android:icon="@drawable/theme_icon">
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <provider android:name="adw.theme.black.frost.docksProvider"  android:authorities="adw.theme.black.frost.docksProvider" />
    </application>
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="10" android:maxSdkVersion="10"/>

</manifest> 